{% extends "jumbo_base.html" %}
{% block title %}Upload{% endblock %}
{% block nav %}
    <li class="active"><a href="{{ url_for('report') }}">Report</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('contact') }}">Contact</a></li>
{% endblock %}
{% block content %}
  <div class="container welcome">
    <h3 class="text-muted">No report generated yet. Please upload your SNP file below.</h3>
    <form action="upload" method="post" enctype="multipart/form-data">
      <br /><br />
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
  </div>
{% endblock %}