{% extends "navigation_base.html" %}
{% block title %}Report{% endblock %}
{% block navcontent %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="padding-top:5%">
        <h2 class="section-heading">Your Report</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <aside>
  {% for i in range(n) %}
  {% set match = matches[i] %}
  {% set user_genotype = user_genotypes[i] %}
    <div class="card">
      <div class="card-header">
        {{ match.source }}
      </div>
      <div class="card-block">
        <h4 class="card-title">{{ match.phenotype.name }}</h4>
        <h6 class="card-subtitle text-muted">P-Value: {{ match.pvalue }} | Odds Ratio: {{ match.oddsratio }}</h6>
      </div>
      <div class="card-block">
        <p class="card-text">Keywords: {{ match.phenotype.synonyms }}</p>
        <p class="card-text"><b>{{ match.paper.journal }}:</b> {{ match.paper.title }}
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{ match.paper.pubmed_id }}" class="card-link" style="font-size:80%">Read Paper</a></p>
        {% for entry in user_genotype %}
          <div style="font-size:90%"><a href="http://www.snpedia.com/index.php/{{ entry[0] }}" class="card-link">{{ entry[0] }}</a> : {{ entry[1] }}</div><br>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  </aside>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="{{ url_for('static',filename='bootstrap-4.0.0-alpha.4/dist/js/bootstrap.min.js') }}" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='bootstrap-4.0.0-alpha.4/dist/js/tether.min.js') }}" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='bootstrap-4.0.0-alpha.4/dist/js/jquery.min.js') }}" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>

{% endblock %}