{% extends "navigation_base.html" %}
{% block title %}Report{% endblock %}
{% block navcontent %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="padding-top:5%">
        <h2 class="section-heading">Your Report</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <aside>
  {% for rsid in rsid_map %}

      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="http://www.snpedia.com/index.php/rs{{ rsid }}">rs{{ rsid }}</a></h4>
          {% set genotype = rsid_genotype_map[rsid] %}
          <h6 class="card-subtitle">Your Genotype: {{ genotype }}</h6>
        </div>
        {% for entry in rsid_map[rsid] %}
        <div class="card-block" style="font-size:85%">
          <p class="card-text text-muted" style="text-align:right"><b>{{ entry.source }}</b></p>
          {% if entry.source == 'snpedia' %}
          <p>{{ entry.description }}<div class="card-subtitle" style="padding-left:15px">Magnitude: {{ entry.magnitude }} | Repute: {{ entry.repute }}</div></p>
          {% elif entry.source == 'gwas_catalog' %}
          <p><b>{{ entry.journal }}</b> {{ entry.title }} <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{ entry.pmid }}" class="card-link" style="font-size:80%">Read Paper</a>
          <div class="card-subtitle" style="padding-left:15px">P-Value: {{ entry.pvalue }} | Odds Ratio: {{ entry.oddsratio }}</div></p>
          <p class="card-text">{{ entry.name }} | {{ entry.synonyms }}</p>
          {% elif entry.source == 'auto' %}
          <p class="card-text">{{ entry.pmid }}</p>
          <p class="card-text">{{ entry.rsid }}</p>
          <p class="card-text">{{ entry.simple_phenotype }}</p>
          <p class="card-text">{{ entry.detailed_phenotype }}</p>
          <p class="card-text">{{ entry.pvalue }}</p>
          {% endif %}
        </div>
      {% endfor %}
      </div>
  {% endfor %}
  </aside>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="{{ url_for('static',filename='bootstrap-4.0.0-alpha.4/dist/js/bootstrap.min.js') }}" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='bootstrap-4.0.0-alpha.4/dist/js/tether.min.js') }}" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='bootstrap-4.0.0-alpha.4/dist/js/jquery.min.js') }}" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>

{% endblock %}